{% extends 'base.html' %}
{% load static %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <div id="main" class="product-list">
        <h1>Products</h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                &#8372; {{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
