{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>

        <p class="price">${{ product.price }}</p>
        <a href="{% url "cart:cart_add" product.id %}">Add to cart</a>

        {{ product.description|linebreaks }}
    </div>
{% endblock %}